<div class="h-[100vh] flex flex-col items-center justify-center bg-gray-100">
  <h1 class="text-4xl font-bold mb-8 mt-auto">SpendSmart</h1>
  <nav class="mt-auto items-center flex flex-col w-11/12 mb-4 cursor-pointer">
    <%= link_to  "LOG IN", new_user_session_path, class: "w-full bg-[#3778c2] text-center p-4 text-white cursor-pointer" %>
    <%= link_to  "SIGN UP", new_user_registration_path, class: "w-full text-center bg-transparent font-bold p-4 cursor-pointer" %>
  </nav>
</div>
